<!--------------------------- About --------------------------->

<section id="about" class="before-animation">
  <div class="container">
    <div class="big-heading">
      <h1>ABOUT</h1>
    </div>
    <div class="row">
      <div class="col col-lg-7 col-sm-12 col-12 order-sm-1">
        <p>
          I enjoy creating things live on the internet. My interest in
          development started in 2022 when I decided to quit my job in
          <a
            class="big4"
            href="https://corporatefinanceinstitute.com/resources/careers/companies/big-four-accounting-firms-services-overview/"
            target="_blank"
            >BIG4</a
          >
          company where I worked as a Senior financial auditor and become a
          developer. <br />
          <br />
          Creating and managing web or application functionality gives me
          opportunity to open up new ways for development using HTML, CSS & JS.
          I’m on the way to study more about technologies that Front-end
          developer uses in nowdays
          <br /><br />
          Being a diligent, hardworking and result oriented person, I always
          work towards achieving best result on each project.
        </p>
      </div>
      <div class="area-for-personal-photo col-lg-5 order-sm-2">
        <img
          src="images/personal-photo.png"
          alt="Photo"
          class="personal-photo"
        />
      </div>
    </div>
  </div>
</section>
