<!--------------------------- Contact --------------------------->

<section id="contact" class="before-animation">
  <div class="container">
    <div class="big-heading">
      <h1>GET IN TOUCH</h1>
    </div>
    <p class="text-email">
      I'm always open to work, <br />
      discuss your project <br />and talk about new things.
    </p>

    <a class="email-link" href="mailto:alimardon.begov@gmail.com">Say Hello</a>
  </div>
</section>
