
<!--------------------------- Footer --------------------------->

<footer id="footer" class="container before-animation">
    <p class="text-footer">Let's get social!</p>
    <div class="icon-footer">
      <a
        href="https://t.me/alimardon_begov"
        class="btn-social"
        target="_blank"
        ><i class="icon-move fa-brands fa-telegram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/alimardon-begov/"
        class="btn-social"
        target="_blank"
        ><i class="icon-move fa-brands fa-linkedin-in"></i
      ></a>
      <a
        href="https://instagram.com/alimardon_begov"
        class="btn-social"
        target="_blank"
        ><i class="icon-move fa-brands fa-instagram"></i
      ></a>
      <a
        href="mailto:alimardon.begov@gmail.com"
        class="btn-social"
        target="_blank"
        ><i class="icon-move fa-solid fa-envelope"></i
      ></a>
    </div>
    <p class="text-footer">Designed & Built by Alimardon Begov</p>
  </footer>
</body>
</html>