<!---------------------------------- Greetings --------------------------->

<section id="greetings">
  <div class="container container-greatings">
    <h3>Hi, my name is</h3>
    <h1>Alimardon Begov.</h1>
    <br />
    <h1>
      I’m a begginer Front-end Developer.<br />
      I’m avid learner and I love to discover new technologiеs.
    </h1>
  </div>
</section>
