<!------------------------------------- Nav Bar ------------------------------------->

<div class="container autohide">
  <nav
    class="navbar navbar-expand-lg navbar-dark"
    aria-label="Eighth navbar example"
  >
    <div class="container-fluid">
      <a class="navbar-brand top-menu" href=""> ABegov </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav top-menu ms-auto md-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link top-menu" aria-current="page" href="#about"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link top-menu" href="#skills">My Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link top-menu" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link top-menu" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link top-menu" href=""> </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link top-menu"
              href="https://github.com/alimardonbegov"
              target="_blank"
              ><i class="fa-brands fa-github"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link top-menu" href=""> </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link top-menu resume"
              href="/resume.pdf"
              target="_blank"
              >Resume</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
