<!--------------------------- Projects --------------------------->

<section id="projects" class="before-animation">
  <div class="container">
    <div class="big-heading">
      <h1>PROJECTS</h1>
    </div>

    <!-- project 1 (photos-text, DO NOT use as a template)-->

    <div class="row">
      <div class="col order-lg-2 order-sm-1">
        <h3>NEWSLETTER PAGE</h3>
        <br />
        <p>
          A web app for signing up created with Node.js. You can track all
          subscribers and communicate with them by email.
        </p>
        <ul class="project-tech-list">
          <li>Node.js</li>
          <li>Express</li>
          <li>Bootstrap</li>
          <li>API</li>
          <li>Heroku</li>
          <li>Git</li>
        </ul>
        <div>
          <a class="project-link"><i class="fa-brands fa-github"></i></a>
          <a
            class="project-link"
            href="https://newslatterabegov.herokuapp.com/"
            target="_blank"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
      <div class="row col-lg-6 col-xs-12 order-lg-1 order-sm-2">
        <div class="col">
          <img src="images/project1/image1.1.jpg" alt="" class="project-img" />
        </div>
        <div class="col">
          <img src="images/project1/image1.2.jpg" alt="" class="project-img" />
          <br />
          <img
            src="images/project1/image1.3.jpg"
            alt=""
            class="project-img buttom-img"
          />
        </div>
      </div>
    </div>

    <!-- project 2 (text-photos, can be used as a template) -->

    <div class="row row-project">
      <div class="col order-lg-1 order-sm-1">
        <h3>TO DO LIST</h3>
        <br />
        <p>
          To Do List helps create a list of things you want to do throughout the
          day. Suppose you want to do something throughout the day that you can
          list here. Whenever you complete that task then you can mark
          complition.
        </p>
        <ul class="project-tech-list">
          <li>Node.js</li>
          <li>Express</li>
          <li>EJS</li>
          <li>Git</li>
        </ul>
        <div>
          <a
            class="project-link"
            href="https://github.com/alimardonbegov/todolist"
            target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a class="project-link">
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>

      <div class="row col-lg-6 col-xs-12 order-lg-2 order-sm-2 order-xs-2">
        <div class="col">
          <img src="images/project3/image3.1.jpg" alt="" class="project-img" />
        </div>
        <div class="col">
          <img src="images/project3/image3.2.jpg" alt="" class="project-img" />
          <br />
          <img
            src="images/project3/image3.3.jpg"
            alt=""
            class="project-img buttom-img"
          />
        </div>
      </div>
    </div>

    <!-- project 3 (photos-text, can be used as a template)-->

    <div class="row row-project">
      <div class="col order-lg-2 order-sm-1">
        <h3>SIMON GAME</h3>
        <br />
        <p>
          The game of short-term memory skill. The App creates a series of tones
          and lights and requires a user to repeat the sequence. If the user
          succeeds, the series becomes progressively longer and more complex.
          Once the user fails, the game is over.
        </p>
        <ul class="project-tech-list">
          <li>HTML</li>
          <li>CSS</li>
          <li>JS</li>
          <li>jQuery</li>
        </ul>
        <div>
          <a
            class="project-link"
            href="https://github.com/alimardonbegov/simonGame"
            target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="project-link"
            href="https://alimardonbegov.github.io/simonGame/"
            target="_blank"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
      <div class="row col-lg-6 col-xs-12 order-lg-1 order-sm-2">
        <div class="col">
          <img src="images/project5/image5.1.jpg" alt="" class="project-img" />
        </div>
        <div class="col">
          <img src="images/project5/image5.2.jpg" alt="" class="project-img" />
          <br />
          <img
            src="images/project5/image5.3.jpg"
            alt=""
            class="project-img buttom-img"
          />
        </div>
      </div>
    </div>

    <!-- project 4 (photos-text, can be used as a template)-->

    <div class="row row-project">
      <div class="col order-lg-1 order-sm-1">
        <h3>Drum Kit</h3>
        <br />
        <p>
          DOM manipulation using Drum Kit app to play sounds using keyboard or
          mouse. For each button unique sound.
        </p>
        <ul class="project-tech-list">
          <li>HTML</li>
          <li>CSS</li>
          <li>JS</li>
        </ul>
        <div>
          <a
            class="project-link"
            href="https://github.com/alimardonbegov/drumKit"
            target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="project-link"
            href="https://alimardonbegov.github.io/drumKit/"
            target="_blank"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
      <div class="row col-lg-6 col-xs-12 order-lg-2 order-sm-2 order-xs-2">
        <div class="col">
          <img src="images/project4/image4.1.jpg" alt="" class="project-img" />
        </div>
        <div class="col">
          <img src="images/project4/image4.2.jpg" alt="" class="project-img" />
          <br />
          <img
            src="images/project4/image4.3.jpg"
            alt=""
            class="project-img buttom-img"
          />
        </div>
      </div>
    </div>

    <!-- project 5 (photos-text, can be used as a template)-->

    <div class="row row-project">
      <div class="col order-lg-2 order-sm-1">
        <h3>DICE</h3>
        <br />
        <p>
          Simple version of dice game to determine who win after clicking on the
          button Start. Shows the result with text and appropriate dices.
        </p>
        <ul class="project-tech-list">
          <li>HTML</li>
          <li>CSS</li>
          <li>JS</li>
        </ul>
        <div>
          <a
            class="project-link"
            href="https://github.com/alimardonbegov/dicee"
            target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            class="project-link"
            href="https://alimardonbegov.github.io/dicee/"
            target="_blank"
          >
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </div>
      <div class="row col-lg-6 col-xs-12 order-lg-1 order-sm-2">
        <div class="col">
          <img src="images/project2/image2.1.jpg" alt="" class="project-img" />
        </div>
        <div class="col">
          <img src="images/project2/image2.2.jpg" alt="" class="project-img" />
          <br />
          <img
            src="images/project2/image2.3.jpg"
            alt=""
            class="project-img buttom-img"
          />
        </div>
      </div>
    </div>

    <div class="bottom-project order-lg-12 order-sm-12">
      <h4>More projects are coming soon</h4>
    </div>
  </div>
</section>
