<!--------------------------- My Skills --------------------------->

<section id="skills">
  <div class="container">
    <div class="big-heading">
      <h1>MY SKILLS</h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>
          Here are several things I’ve been studying and working with recently:
        </p>

        <p>
          Write HTML code and adapt web pages to different screen sizes and
          devices, set different styles to design and animation. With JS, I can
          create functionality for user interaction and create simple games. I
          am also familiar with the jQuery library and can work with it. With
          Node JS, I can create a server locally and remotely. Using comand line
          and GIT, I can create projects, commit changes and control versions of
          the project.
        </p>
        <p class="future-plan">
          Here are other technologies I’m also learning:
        </p>
        <ul class="future-plan">
          <li>Mongo DB</li>
          <li>React.js</li>
        </ul>
      </div>
      <div class="col col-lg-6 soft-skills">
        <p>
          Here are several skills I’ve learned in International company as a
          project manager & as a team member:
        </p>
        <ul>
          <li>Communication (with teams and clients)</li>
          <li>Team management</li>
          <li>Problem solving</li>
          <li>Decision making</li>
          <li>Goal oriented</li>
          <li>Creativity</li>
          <li>Resourcefulness</li>
        </ul>
      </div>
    </div>
  </div>
</section>
