body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

section {
  padding: 5em 0;
}

/*************************** Fonts ***************************/

h1 {
  font-size: 3em;
  padding-bottom: 0.5em;
}

p,
ul {
  font-size: 1.25em;
}

@media (max-width: 1199px) and (min-width: 992px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 0.85rem;
  }
  .area-for-personal-photo {
    width: auto;
  }

  .soft-skills {
    margin-top: 1em;
  }
}

@media (max-width: 546px) {
  body {
    font-size: 0.7rem;
  }
}

/*************************** Navigation bar ***************************/

.top-menu {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link:hover {
  color: red;
}

.navbar-brand {
  font-size: 32px;
}
.code-wars {
  
  margin-left: auto;
  padding: 0;
}

/*************************** Greetings ***************************/

.container-greatings {
  padding: 11em 0 0;
}
.container-greatings h1 {
  padding-bottom: 0;
}

/************************** About ***************************/

.big4 {
  color: rgb(177, 177, 177);
  text-decoration: none;
}

.big4:hover {
  color: red;
}

.personal-photo {
  width: 23em;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: 0;
  filter: grayscale(100%);
  transition: 0.5s;
}

.personal-photo:hover {
  filter: none;
  transition: 0.5s;
}

/************************** Skills **************************/

.future-plan {
  color: gray;
}

/************************** Projects **************************/

.row-project {
  padding: 10% 0 0;
}

.project-img {
  width: 100%;

  border-radius: 4px;
  transform: rotate(-2deg);
  opacity: 0.5;
  filter: grayscale(100%);
  transition: 1s;
  transition-delay: 3s;
}
.project-img:hover {
  transform: rotate(0deg);
  opacity: 1;
  filter: none;
  transition: 1s;
}

.buttom-img {
  display: block;
  margin-top: 68.87px;
}

.project-link {
  color: rgb(177, 177, 177);
  padding-right: 2%;
}
.project-tech-list {
  display: flex;
  list-style: none;
  font-size: 0.8em;
  color: gray;
  padding: 3% 0 0;
}

.project-tech-list li {
  padding-right: 1em;
}

.project-link:hover {
  color: red;
}

.bottom-project {
  text-align: center;
  padding: 10% 0 0;
  color: gray;
}

/************************* Contact *************************/

#contact {
  padding: 5em 0 13em;
  text-align: center;
}

.text-email {
  color: rgb(177, 177, 177);
}

.email-link {
  border: 1px solid white;
  border-radius: 4px;
  font-weight: 600;
  padding: 8px;
  margin-top: 2em;
  color: white;
  text-decoration: none;

  font-size: 1.5em;
}

.email-link:hover {
  border-color: red;
  color: red;
}

/************************** footer **************************/

#footer {
  text-align: center;
  color: rgb(177, 177, 177);
  transition: 3s;
}

.text-footer {
  font-size: 1rem;
  margin: 0.8%;
}

.btn-social {
  padding: 0 0.5rem;
  text-decoration: none;
  color: rgb(177, 177, 177);
}
.icon-move {
  transition: 0.3s;
}

.icon-move:hover {
  transform: translate(0, -10px);
  transition: 0.3s;
}

.fa-telegram:hover {
  color: #229ed9;
}
.fa-linkedin-in:hover {
  color: #0e76a8;
}

.fa-instagram:hover {
  color: #e1306c;
}

.fa-envelope:hover {
  color: #fbbc05;
}
