body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

section {
  padding: 13em 0;
}

/* .before-animation {
  opacity: 0;
  transform: translateY(20px);
}

.after-animation {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
} */

#contact {
  padding: 5em 0 13em;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

.big-heading {
  padding-bottom: 1.5em;
}

/* Navigation bar */

.space {
  width: 5rem;
}

.top-menu {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link:hover {
  color: red;
}

.navbar-brand {
  font-size: 32px;
}

.resume,
.email-link {
  border: 1px solid white;
  border-radius: 4px;
}

.resume:hover,
.email-link:hover {
  border-color: red;
  background-color: #470000;
  color: red;
}

/* Greetings */

.container-greatings {
  padding: 10rem 0 0;
}

/* About */

.text-about {
  width: 55%;
}

.personal-photo {
  width: 22em;
  display: block;
  margin-left: auto;
  margin-right: 0;
  filter: grayscale(100%);
  transition: 0.5s;
}

.personal-photo:hover {
  filter: none;
  transition: 0.5s;
}

.div-photo {
  display: inline-block;
  text-align: center;
}

/* Projects */

.row-project {
  padding: 10% 0 0;
}

.project-img {
  width: 15em;
  border-radius: 4px;
  transform: rotate(-2deg);
  opacity: 0.5;
  filter: grayscale(100%);
  transition: 1s;
  transition-delay: 3s;
}
.project-img:hover {
  transform: rotate(0deg);
  opacity: 1;
  filter: none;
  transition: 1s;
}

.buttom-img {
  display: block;
  margin-top: 68.87px;
}

.project-link {
  color: rgb(177, 177, 177);
  padding-right: 2%;
}
.project-tech-list {
  display: flex;
  list-style: none;
  font-size: 1rem;
  color: gray;
  padding: 3% 0 0;
}

.project-tech-list li {
  padding-right: 1rem;
}

.project-link:hover {
  color: red;
}

.bottom-project {
  text-align: center;
  padding: 10% 0 0;
  color: gray;
}

/* Contact */

.text-email {
  color: rgb(177, 177, 177);
}

.email-link {
  font-weight: 600;
  padding: 8px;
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}

/* footer */

#footer {
  text-align: center;
  color: rgb(177, 177, 177);
}

.text-footer {
  font-size: 1rem;
  margin: 0.8%;
}

.icon-footer i {
  padding: 0 0.5rem;
}

.icon-footer-move {
  transition: 0.3s;
}

.icon-footer-move:hover {
  transform: translate(0, -10px);
  transition: 0.3s;
}

.fa-telegram:hover {
  color: #229ed9;
}
.fa-linkedin-in:hover {
  color: #0e76a8;
}

.fa-instagram:hover {
  color: #e1306c;
}

.fa-envelope:hover {
  color: #fbbc05;
}
